@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
html, body {
  overflow-x: hidden;
}
body {
  background: #f5f5f5;
}
a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.container {
  padding-left: 10%;
  padding-right: 10%;
}
.btn {
  background: white;
  color: #fff;
  color: #212121;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn img{

  width: 20px;
  margin-left: 10px;
  
}
.btn.dark-btn{
  background: #212EA0;
  color: #fff;
}

/* --  Media query */

@media (max-width:1200px){

  .container{
    padding-left: 5%;
    padding-right: 5%;
  }

  .btn{
    padding: 14px 22px;
  }
}

@media (max-width: 400px) {
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  nav ul, .hide-menu-icon {
    max-width: 100vw;
    overflow-x: hidden;
  }

  .hero {
    max-width: 100%;
    overflow-x: hidden;
  }

  .hero p {
    width: 90%;
    font-size: 13px;
    line-height: 1.3;
  }
}
